iac/machine-definition/resize-image/jsonata.json
{
  "QueryLanguage": "JSONata",
  "Comment": "A description of my state machine",
  "StartAt": "Map",
  "States": {
    "Map": {
      "Type": "Map",
      "ItemProcessor": {
        "ProcessorConfig": {
          "Mode": "INLINE"
        },
        "StartAt": "Resize Profile Picture",
        "States": {
          "Resize Profile Picture": {
            "Type": "Parallel",
            "Branches": [
              {
                "StartAt": "Resize Profile Picture to Small",
                "States": {
                  "Resize Profile Picture to Small": {
                    "Type": "Task",
                    "Resource": "arn:aws:states:::lambda:invoke",
                    "Output": {
                      "payload": "{% $states.result.Payload %}",
                      "resizeSmall": "{% $states.input %}"
                    },
                    "Arguments": {
                      "FunctionName": "${LAMBDA_NAME}:$LATEST",
                      "Payload": {
                        "size": 128,
                        "body": "{% $parse($states.input.body).Records[0] %}"
                      }
                    },
                    "Retry": [
                      {
                        "ErrorEquals": [
                          "Lambda.ServiceException",
                          "Lambda.AWSLambdaException",
                          "Lambda.SdkClientException",
                          "Lambda.TooManyRequestsException"
                        ],
                        "IntervalSeconds": 1,
                        "MaxAttempts": 3,
                        "BackoffRate": 2,
                        "JitterStrategy": "FULL"
                      }
                    ],
                    "Next": "Set Small Profile picture URI"
                  },
                  "Set Small Profile picture URI": {
                    "Type": "Task",
                    "Resource": "arn:aws:states:::dynamodb:updateItem",
                    "Arguments": {
                      "TableName": "${DYNAMODB_TABLE_NAME}",
                      "Key": {
                        "userId": {
                          "S": "{% $states.input.payload.data.userId %}"
                        }
                      },
                      "UpdateExpression": "SET smallPicture = :value",
                      "ExpressionAttributeValues": {
                        ":value": {
                          "S": "{% $states.input.payload.data.resizedKey %}"
                        }
                      }
                    },
                    "End": true,
                    "Output": "{% $states.input %}"
                  }
                }
              },
              {
                "StartAt": "Resize Profile Picture to Big",
                "States": {
                  "Resize Profile Picture to Big": {
                    "Type": "Task",
                    "Resource": "arn:aws:states:::lambda:invoke",
                    "Output": {
                      "payload": "{% $states.result.Payload %}",
                      "resizeBig": "{% $states.input %}"
                    },
                    "Arguments": {
                      "FunctionName": "${LAMBDA_NAME}:$LATEST",
                      "Payload": {
                        "size": 512,
                        "body": "{% $parse($states.input.body).Records[0] %}"
                      }
                    },
                    "Retry": [
                      {
                        "ErrorEquals": [
                          "Lambda.ServiceException",
                          "Lambda.AWSLambdaException",
                          "Lambda.SdkClientException",
                          "Lambda.TooManyRequestsException"
                        ],
                        "IntervalSeconds": 1,
                        "MaxAttempts": 3,
                        "BackoffRate": 2,
                        "JitterStrategy": "FULL"
                      }
                    ],
                    "Next": "Set Big Profile picture URI"
                  },
                  "Set Big Profile picture URI": {
                    "Type": "Task",
                    "Resource": "arn:aws:states:::dynamodb:updateItem",
                    "Arguments": {
                      "TableName": "${DYNAMODB_TABLE_NAME}",
                      "Key": {
                        "userId": {
                          "S": "{% $states.input.payload.data.userId %}"
                        }
                      },
                      "UpdateExpression": "SET bigPicture = :value",
                      "ExpressionAttributeValues": {
                        ":value": {
                          "S": "{% $states.input.payload.data.resizedKey %}"
                        }
                      }
                    },
                    "End": true,
                    "Output": "{% $states.input %}"
                  }
                }
              }
            ],
            "Output": {
              "output": "{% $states.result %}"
            },
            "Arguments": {
              "body": "{% $states.input.body %}"
            },
            "Next": "Delete Uploaded Profile Picture"
          },
          "Delete Uploaded Profile Picture": {
            "Type": "Task",
            "Arguments": {
              "Bucket": "{% $states.input.output[0].payload.data.bucket %}",
              "Key": "{% $states.input.output[0].payload.data.uploadedKey %}"
            },
            "Resource": "arn:aws:states:::aws-sdk:s3:deleteObject",
            "End": true
          }
        }
      },
      "End": true
    }
  }
}